html,
body {
  /* Background color fallback */
  /* Set the background color behind the image */
  background-color: #000000;
  /* background: linear-gradient(to bottom right, #0a0909, #000000); */

  /* Background image */
  background-image: url('/background.png');
  background-size: contain;
  background-position: top center; /* Center the background */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background in a fixed position */

  /* Reset margins and padding */
  padding: 0;
  margin: 0;

  /* Font family */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


#__next {
  width: 100%;
}

a {
  color: ghostwhite;
  text-decoration: none;
}

p {
  color: rgb(255, 225, 0);
  /* text-shadow: -1px -1px 0 rgb(255, 225, 0), 1px -1px 0 rgb(255, 225, 0), -1px 1px 0 rgb(255, 225, 0), 1px 1px 0 rgb(255, 225, 0); */
}

h2 {
  color: ghostwhite;
}

label {
  color: ghostwhite;
}

footer {
  position: fixed;
  bottom: 0px;
  margin: 0px;
  font-size: clamp(8px, 16px, 20px);
}

footer a{
  margin: 8px;
}

@media (max-width: 768px) {
  footer {
    font-size: calc(50vw * 0.05); /* Set a fixed font size for phones */
  }
}
  

* {
  box-sizing: border-box;
}
